:root{
background-color: white;
}
body{
        font-family: "Roboto"sans-serif; 
        color: #434455;   
        background-color: #FFFFFF;      
}

.link{
    text-decoration: none;
}

.list{
      list-style: none;
}

.studiologoheader {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: var(--dark-color);
}

.topline {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.header-link { 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-decoration: none;
}


.filters{
        height: 48px;
        width: 69px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
        padding: 12px 24px 12px 24px;
        background: #404BBF;;
}
.button{
    cursor: pointer;

}

.namecard{     

         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2em;
         letter-spacing: 0.02em;
         color: #2E2F42;
}

   .appnamecard{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height:1.5em;
        letter-spacing: 0.02em;
        color: #434455;

   }   